.content-registro {
    height: auto;
    overflow: hidden;
    padding: 10px 0px;
    font-size: 18px;
    text-align: center;
}

.form-registr{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.content-registro .form-registr h3 {
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.group-registro{
  width: 50%;
}



@media screen and (max-width:1199px) {

  .group-registro{
    width: 80%;
  }
    
}

